<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mapper.ItemMapper">
	
	<select id="select" parameterType="Integer" resultType="Item">
		SELECT * FROM item WHERE id=#{id}
	</select>
	<select id="selectall" resultType="Item">
		SELECT * FROM item
	</select>
	<insert id="insert" parameterType="Item">
		INSERT INTO item VALUES (id,#{name},#{price},#{imgname},SYSDATE())
	</insert>
	<update id="update" parameterType="Item">
		UPDATE item SET name=#{name}, price=#{price}, imgname=#{imgname} WHERE id=#{id}
	</update>
	<delete id="delete" parameterType="Integer">
		DELETE FROM item WHERE id=#{id}
	</delete>
	
	<select id="searchItem" parameterType="String"  resultType="Item">
		SELECT * FROM item WHERE name LIKE CONCAT('%',#{txt},'%')
	</select>
</mapper>







